<app-breadcrum [value]="[3]"></app-breadcrum>

<!-- <div class="row">
    <div class="col-lg-3 col-md-12">
        <img src="assets/image/menu/m1.webp" class="img-fluid" alt="">
    </div>
    <div class="col-lg-3 col-md-12">
        <img src="assets/image/menu/m2.webp" class="img-fluid" alt="">
    </div>
    <div class="col-lg-3 col-md-12">
        <img src="assets/image/menu/m3.webp" class="img-fluid" alt="">
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-12">
        <img src="assets/image/menu/m4.webp" class="img-fluid" alt="">
    </div>
    <div class="col-lg-3 col-md-12">
        <img src="assets/image/menu/m5.webp" class="img-fluid" alt="">
    </div>
    <div class="col-lg-3 col-md-12">
        <img src="assets/image/menu/m6.webp" class="img-fluid" alt="">
    </div>
</div> -->

<div class="menucontain">
    <div class="">
        <img src="assets/image/menu/m1.webp" class="img-fluid" alt="">
    </div>
    <div class="">
        <img src="assets/image/menu/m2.webp" class="img-fluid" alt="">
    </div>
    <div class="">
        <img src="assets/image/menu/m3.webp" class="img-fluid" alt="">
    </div>
    <div class="">
        <img src="assets/image/menu/m4.webp" class="img-fluid" alt="">
    </div>
    <div class="">
        <img src="assets/image/menu/m5.webp" class="img-fluid" alt="">
    </div>
    <div class="">
        <img src="assets/image/menu/m6.webp" class="img-fluid" alt="">
    </div>
</div>