<app-breadcrum [value]="[3]"></app-breadcrum>

<!-- <div class="row">
    <div class="col-lg-3 col-md-12">
        <img src="assets/image/menu/m1.png" class="img-fluid" alt="">
    </div>
    <div class="col-lg-3 col-md-12">
        <img src="assets/image/menu/m2.png" class="img-fluid" alt="">
    </div>
    <div class="col-lg-3 col-md-12">
        <img src="assets/image/menu/m3.png" class="img-fluid" alt="">
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-12">
        <img src="assets/image/menu/m4.png" class="img-fluid" alt="">
    </div>
    <div class="col-lg-3 col-md-12">
        <img src="assets/image/menu/m5.png" class="img-fluid" alt="">
    </div>
    <div class="col-lg-3 col-md-12">
        <img src="assets/image/menu/m6.png" class="img-fluid" alt="">
    </div>
</div> -->

<div class="menucontain">
    <div class="">
        <img src="assets/image/menu/m1.png" class="img-fluid" alt="">
    </div>
    <div class="">
        <img src="assets/image/menu/m2.png" class="img-fluid" alt="">
    </div>
    <div class="">
        <img src="assets/image/menu/m3.png" class="img-fluid" alt="">
    </div>
    <div class="">
        <img src="assets/image/menu/m4.png" class="img-fluid" alt="">
    </div>
    <div class="">
        <img src="assets/image/menu/m5.png" class="img-fluid" alt="">
    </div>
    <div class="">
        <img src="assets/image/menu/m6.png" class="img-fluid" alt="">
    </div>
</div>